:root {
    /* brand colors: */
    --primary-color-1: #fffdd0;
    --primary-color-1-tint: #fffeef;
    --primary-color-1-shade: #d0ceaa;

    --primary-color-2: #72d4cc;
    --primary-color-2-tint: #b0e7e3;
    --primary-color-2-shade: #31a097;
    --primary-color-2-dark: #224e49;

    --primary-color-2-op10: hsla(180, 53.3%, 63.9%, 10%);
    --primary-color-1-op25: hsla(57.4, 100%, 90.8%, 25%);

    /* gray colors: */
    --grey-color-1: #f4f8f7;
    --grey-color-2: #dbe9e7;
    --grey-color-3: #c5d1cf;
    --grey-color-4: #99a3a1;
    --grey-color-5: #414545;

    /* black and white colors: */
    --white-color: #fff;
    --white-color-op40: hsla(0, 0%, 100%, 40%); 
    --black-color: #000;

    /* derivative colors: */
    --text-color: var(--grey-color-5);
    --text-color-brand: var(--primary-color-2-shade);
    --text-color-light: var(--primary-color-1-tint);
    --text-color-dark: var(--primary-color-2-dark);
}