* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Josefin Sans', Arial, Helvetica, sans-serif; */
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}