* {
    box-sizing: border-box;
}

*:focus {
    outline-color: var(--primary-color-2-shade);
}

body {
    /* font-family: 'Josefin Sans', Arial, Helvetica, sans-serif; */
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-size: var(--base-font-size);
    color: var(--text-color);
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

