.main-wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--gap-2);
}

.grid-container {
    display: grid;
    grid-template-columns: auto 30%;
}

.grid-container main,
.grid-container aside {
    padding: 0 var(--gap-2);
}

.grid-container main {
    padding-left: var(--gap-2);
}

header + .grid-container {
    padding-top: var(--gap-4);
    padding-bottom: var(--gap-4);
}