:root {
    --gap-1: 8px;
    --gap-2: calc(var(--gap-1)*2);
    --gap-3: calc(var(--gap-1)*3);
    --gap-4: calc(var(--gap-1)*4);

    --max-width: 1200px;

    --radius: 8px;

    --shadow: 0 0 20px 0 var(--grey-color-3);
}